.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  position: relative;
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png")
    top 50% left 50% / cover repeat;
  justify-self: flex-start;
  min-width: 1px;
  width: 100%;
}
.header {
  display: flex;
  position: sticky;
  flex-direction: row;
  max-width: 100%;
  background: var(--token-F3Ayy2yVu0Dq);
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.roomAvatar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 32px 8px 8px;
}
.body > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.body > :global(.__wab_flex-container) > *,
.body > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.body > :global(.__wab_flex-container) > picture > img,
.body > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
.chatMessage___0LwWq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.chatMessage__fgm0L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.chatMessage__dYsWh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.chatMessage__uumvT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footer {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.messageTextInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aGeor {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pb983 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sendIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
