.chatListItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
  border-bottom: 1px solid var(--token-F3Ayy2yVu0Dq);
}
.chatListItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.chatListItem > :global(.__wab_flex-container) > *,
.chatListItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.chatListItem > :global(.__wab_flex-container) > picture > img,
.chatListItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetRoomName {
  font-size: 18px;
  font-weight: 600;
}
